<% @projects.each do |project| %>
  <%= render project %>
  <p>
    <%= link_to "Show this project", project %>
    <% if project.document.attached? %>
      <%= link_to "Download document", url_for(project.document) %>
    <% end %>
    <p>Goals: <%= project.goals %></p>
  </p>
<% end %>
