<div class="container py-5">
  <div class="row">
    <div class="col-md-4">
      <div class="card h-100 shadow">
        <div class="card-header bg-secondary text-light">
          <h4>Projects</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% @projects.each do |project| %>
              <li class="list-group-item"><%= link_to project.title, project_path(project) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card h-100 shadow">
        <div class="card-header bg-secondary text-light">
          <h4>Tasks</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% @tasks.each do |task| %>
              <li class="list-group-item"><%= link_to task.name, task_path(task) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card h-100 shadow">
        <div class="card-header bg-secondary text-white">
          <h4>Teams</h4>
        </div>
        <div class="card-body">
          <ul class="list-group list-group-flush">
            <% @teams.each do |team| %>
              <li class="list-group-item"><%= link_to team.name, team_path(team) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
