<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4>Projects</h4>
        </div>
        <div class="card-body">
          <ul>
            <!-- List of projects -->
            <% @projects.each do |project| %>
              <li><%= link_to project.title, project_path(project) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4>Tasks</h4>
        </div>
        <div class="card-body">
          <ul>
            <!-- List of tasks -->
            <% @tasks.each do |task| %>
              <li><%= link_to task.name, task_path(task) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card">
        <div class="card-header">
          <h4>Teams</h4>
        </div>
        <div class="card-body">
          <ul>
            <!-- List of teams -->
            <% @teams.each do |team| %>
              <li><%= link_to team.name, team_path(team) %></li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>

   <% if current_user.admin? %>
  <!-- Admin actions -->
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        <h4>Admin Actions</h4>
      </div>
      <div class="card-body">
        <!-- Button to create a user -->
        <%= link_to 'Create User', new_user_registration_path, class: 'btn btn-primary' %>

        <!-- Button to delete a user (replace 'user' with the actual path or URL to delete a user) -->
      </div>
    </div>
  </div>
<% end %>

  </div>
</div>
